#root {

  margin: 0 auto;

}


.nav-link{
  color: #ffff;
  font-weight: bold;
}

.link{
  color: #007aff;
  text-decoration: none;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  
}
